/********************
CSS RESETS
Thanks @https://piccalil.li/blog/a-modern-css-reset/
*********************/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* screen reader only to visually hide content for sighted users (V.I.) only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

/********************
TYPOGRAPHY & Icons
*********************/
h1 {
  color: #0f8cdf;
  margin-bottom: 10px;
  font-size: 20px;
}

i {
  font-size: 16px;
  cursor: pointer;
}

.fa-solid {
  color: #999;
}

.liked {
  color: red;
}

.retweeted {
  color: limegreen;
}

/********************
Layout
*********************/
.container {
  max-width: 550px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  align-items: start;
}

header {
  padding-bottom: 25px;
}

.tweet-input-area {
  display: flex;
  align-items: start;
  width: 100%;
  gap: 10px;
}

/********************
textareas + btn
*********************/
textarea {
  height: 60px;
  width: 85%;
  font-size: 20px;
  padding: 10px;
  border: 1px solid inherit;
  border-radius: 0.3rem;
  resize: none;
  margin-bottom: 20px;
}

button {
  font-weight: 600;
  color: white;
  background-color: #1da1f2;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

/********************
TWEET
*********************/
.tweet-btn {
  padding: 10px 19px;
  width: 100%;
  font-size: 20px;
}

.tweet {
  max-width: 100%;
  padding-top: 20px;
  margin: 15px 0;
  border-top: 1px solid lightgray;
}

.tweet-inner {
  display: flex;
  align-items: start;
  gap: 10px;
}

.tweet-inner div {
  flex-grow: 1;
}

.tweet-details {
  display: flex;
  gap: 10px;
  padding-top: 10px;
}

.tweet-reply {
  border-top: 1px solid lightgray;
  padding: 20px 0 0 0px;
  margin: 10px 0 10px 40px;
  width: 80%;
}

.handle {
  font-size: 12px;
  font-weight: 500;
  color: #555;
  margin-top: 0;
}

.tweet-text {
  font-size: 14px;
  line-height: 20px;
  width: 70%;
}

/********************
IMAGES
*********************/
.profile-pic {
  border: 1px solid lightgray;
  border-radius: 50%;
  width: 48px;
}

/********************
UTILITY
*********************/
.hidden {
  display: none;
}

/********************
REPLY
*********************/
.reply {
  margin: 10px 0 10px 50px;
  font-size: 0.8rem;
}

.reply-btn {
  padding: 5px 10px;
}

.reply-label {
  color: #555;
  padding: 1em 0;
  display: block;
}

.reply-label span {
  color: #1da1f2;
}

.new-reply {
  width: 75%;
  border: none;
  border-bottom: 1px solid lightgray;
}

/********************
MENU BUTTON
*********************/
.tweet-menu i {
  color: #000;
  float: right;
}

/********************
DELETE
*********************/
.delete {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsla(0, 100%, 100%, 0.7);
}

.delete i {
  width: 3rem;
  color: #f00;
  padding: 10px;
}
